<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1038524638721-stgks2isbtar1o4o6smdhjs9oefkaa2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038524638721-stgks2isbtar1o4o6smdhjs9oefkaa2j</string>
	<key>API_KEY</key>
	<string>AIzaSyATHtASoJhIXahMs9Om_4Lxg0Qi9cxSDCw</string>
	<key>GCM_SENDER_ID</key>
	<string>1038524638721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sundevs.test</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-69ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-69ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038524638721:ios:30749bae62318df9</string>
	<key>DATABASE_URL</key>
	<string>https://chat-demo-69ce8.firebaseio.com</string>
</dict>
</plist>
